@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

@layer components {
    /* Style global pour tes futurs inputs de formulaire */
    .form-input {
        @apply w-full rounded-xl border-gray-200 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm transition-all;
    }

    /* Style global pour tes futures cartes de produits */
    .card-modern {
        @apply bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-md transition-all duration-300;
    }
}